/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* form style */
form {
  margin-bottom: 5rem;
}




/* blog style */
.blog-container {}

.blog {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}




/* blog section title style */
.blog h2 {
  font-Family: "Barlow Condensed", sans-serif;
  font-size: 4rem;
}




/* post style */
.post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  list-style: none;
  border-bottom: 1px dashed black;
}

.remove {
  cursor: pointer;
  background-color: white;
  border: none;
  font-weight: 800;
}

.post h3 {
  font-Family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  margin: 1em 0;
}


/* post content style */
.post p {
  font-Family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1rem;
}



/* lower wrapper */
.post-lower-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
}

.left {
  display: flex;
  gap: 1.5rem;
}


.left .author {
  font-size: 1rem;
  font-weight: 500;
}

.left .date {
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;

}

.tags {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 0.9rem;
}